.headerClass {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background: white;
  box-shadow: 10px black;
  box-shadow: 12px 2px 10px 0px grey;
}
.padding-inline-15 {
  padding-inline: 15px;
}
.selectClass {
  padding: 10px 15px 10px 10px;
  border-radius: 10px;
  color: grey;
}
